/* Form.css */
form {
  display: flex;
  flex-direction: column;
}

.additional-options .next-button {
  padding: 7px 20px;
  background: #0166b3;
  border: none;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  font-size: 0.95rem;
  margin-top: 2rem;
  float: right;
  align-self: flex-end;
  max-width: 7rem;
  text-decoration: none !important;
}
.additional-options .next-button:hover {
filter: brightness(90%);
}

.additional-options {
  margin-top: 10px;
  text-align: left;
  width: 100%;
}
/* ,
  .additional-options button  */
.additional-options a {
  display: block;
  color: #0078d4;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 0.8rem;
  display: inline-block;
}
.additional-options p {
  font-size: 0.8rem;
  margin: 0px;
}
/*   
  .additional-options button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

  } */

/* .additional-options button:hover, */
/* .additional-options a:hover {
  text-decoration: underline;
} */
