.signin-options-container {
    display: flex;
    align-items: center;
    margin-top: 20px;

    width: 320px;
    margin: auto;
    padding: 40px 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 0px;
    text-align: left;
  }
  
  .key-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .signin-options-button {
    background: none;
    border: none;
    color: #0078d4;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
  }
  
  .signin-options-button:hover {
    text-decoration: underline;
  }
  