/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.outlook-header {
  font-size: 48px;
  color: #333;

  margin-bottom: 24px;
  max-height: 36px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

* {
  box-sizing: border-box;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media screen and (max-width: 600px), screen and (max-height: 366px) {
  .outlook-header  {
      margin-top: 24px;
  }
}
