/* index.css */
body {
  font-family: Arial, sans-serif;
}
*{
  transition: .3s ease-in-out;
}
.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f7f7f7;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 10px;
}

.login-container p {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #0078d4;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #005a9e;
}

.additional-options {
  margin-top: 10px;
}

.additional-options a {
  display: block;
  margin-bottom: 5px;
  color: #0078d4;
  text-decoration: none;
}

.additional-options button {
  background: none;
  border: none;
  color: #0078d4;
  cursor: pointer;
  padding: 0;
}

.additional-options button:hover {
  text-decoration: underline;
}
